<div class="container-fluid" style="font-size:10px;">
  <!-- <div class="row justify-content-md-center">
        <h1 class="">=========</h1>
        <h1 class="">CRUD</h1>
        <h1 class="">=========</h1>
  </div> -->
  <!-- {{registrationForm.value | json}} -->
  <h4 class="">CRUD</h4>
  <div class="row">
    <div class="col-sm-3">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fullName">Full name:  </label>
          <input [class.is-invalid]="fullName.invalid && fullName.touched" formControlName="fullName" type="text" class="form-control" required>
          <div *ngIf="fullName.invalid && fullName.touched">
            <small *ngIf="fullName.errors?.required" class="text-danger">Username is required</small>
            <small *ngIf="fullName.errors?.minlength" class="text-danger">Username is must be atleast 8 characters</small>
          </div>
        </div>
        <div class="form-group">
          <label for="sex">Sex:  </label><br>
         <div class="form-check-inline">
           <label class="form-check-label" for="sex">
             <input [class.is-invalid]="sex.invalid && sex.touched" formControlName="sex" type="radio" class="form-check-input" name="sex" value="male" required>Male
           </label>
         </div>
         <div class="form-check-inline">
           <label class="form-check-label" for="sex">
             <input [class.is-invalid]="sex.invalid && sex.touched" formControlName="sex" type="radio" class="form-check-input" name="sex" value="female" required>Female
           </label>
         </div>
         <div *ngIf="sex.invalid && sex.touched">
           <small *ngIf="sex.errors?.required" class="text-danger">Sex unselected</small>
         </div>
       </div>
       <div class="form-group">
         <label for="birthDate">Birth date:  </label>
         <input [class.is-invalid]="birthDate.invalid && birthDate.touched" type="text" formControlName="birthDate" data-date-format="yyyy-mm-dd" class="form-control" data-provide="datepicker" required>
         <div *ngIf="birthDate.invalid && birthDate.touched">
           <small *ngIf="birthDate.errors?.required" class="text-danger">Birthdate is required</small>
         </div>
       </div>
        <div class="form-group">
          <label for="email">Email address:  </label>
          <input [class.is-invalid]="email.invalid && email.touched" type="email" formControlName="email" class="form-control" required>
          <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
            <small *ngIf="email.errors?.email" class="text-danger">Invalid email</small>
            <small *ngIf="email.errors?.pattern" class="text-danger">Invalid email</small>
          </div>
        </div>
         <div class="form-group">
           <label for="mobile">Mobile:  </label>
           <input [class.is-invalid]="mobile.invalid && mobile.touched" type="text" formControlName="mobile" class="form-control" required>
           <div *ngIf="mobile.invalid && mobile.touched">
             <small *ngIf="mobile.errors?.required" class="text-danger">Mobile number is required</small>
             <small *ngIf="mobile.errors?.pattern" class="text-danger">Invalid mobile</small>
           </div>
         </div>
         <div class="form-group">
           <label for="continent">Continent:  </label>
           <select [class.is-invalid]="continent.invalid && continent.touched" name="continent" formControlName="continent" class="form-control" required>
            <option value=""></option>
            <option value="Russia">Russia</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="Africa">Africa</option>
            <option value="America">America</option>
          </select>
          <div *ngIf="continent.invalid && continent.touched">
            <small *ngIf="continent.errors?.required" class="text-danger">Continent is required</small>
          </div>
        </div>
        <div formGroupName="skills">
          <label for="skills">Skills:  </label><br>
          <div class="form-check-inline">
           <label class="form-check-label">
             <input type="checkbox" formControlName="FullStack" class="form-check-input" name="FullStack" >FullStack
           </label>
         </div>
         <div class="form-check-inline">
           <label class="form-check-label">
             <input type="checkbox" formControlName="JokerEngineer" class="form-check-input" name="JokerEngineer" >JokerEngineer
           </label>
         </div>
         <div class="form-check-inline">
           <label class="form-check-label">
             <input type="checkbox" formControlName="SDLC" class="form-check-input" name="SDLC" >SDLC
           </label>
         </div>
       </div>
        <div class="form-group">
          <label for="photo">Photo:  </label>
          <input [class.is-invalid]="photo.invalid && photo.touched" type="file" formControlName="photo" class="form-control-file border" name="photo">
          <div *ngIf="photo.invalid && photo.touched">
            <small *ngIf="photo.errors?.required" class="text-danger">Photo is required</small>
          </div>
        </div>
       <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-9">
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fullname</th>
            <th>Sex</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Continent</th>
            <th>Skills</th>
            <th>Photo</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
