<div class="container-fluid" style="font-size:10px;">
  <!-- <div class="row justify-content-md-center">
        <h1 class="">=========</h1>
        <h1 class="">CRUD</h1>
        <h1 class="">=========</h1>
  </div> -->
  {{registrationForm.value | json}}
  <h4 class="">CRUD</h4>
  <div class="row">
    <div class="col-sm-3">
      <form [formGroup]="registrationForm">
        <div class="form-group">
          <label for="fullName">Full name:  </label>
          <input formControlName="fullName" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="sex">Sex:  </label><br>
         <div class="form-check-inline">
           <label class="form-check-label" for="radio1">
             <input formControlName="sex" type="radio" class="form-check-input" name="sex" value="male" required>Male
           </label>
         </div>
         <div class="form-check-inline">
           <label class="form-check-label" for="radio2">
             <input formControlName="sex" type="radio" class="form-check-input" name="sex" value="female" required>Female
           </label>
         </div>
       </div>
       <div class="form-group">
         <label for="birthDate">Birth date:  </label>
         <input type="text" formControlName="birthDate" data-date-format="yyyy-mm-dd" class="form-control" data-provide="datepicker" required>
       </div>
        <div class="form-group">
          <label for="email">Email address:  </label>
          <input type="email" formControlName="email" class="form-control" id="email" required>
        </div>
         <div class="form-group">
           <label for="mobile">Mobile:  </label>
           <input type="number" formControlName="mobile" maxlength="10" minlength="10" class="form-control" id="mobile" required>
         </div>
         <div class="form-group">
           <label for="continent">Continent:  </label>
           <select name="continent" formControlName="continent" class="form-control" required>
            <option value=""></option>
            <option value="Russia">Russia</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="Africa">Africa</option>
            <option value="America">America</option>
          </select>
        </div>
        <div class="form-group">
          <label for="skills">Skills:  </label><br>
          <div class="form-check-inline">
           <label class="form-check-label">
             <input type="checkbox" formControlName="skills" class="form-check-input" value="FullStack" name="skills" >FullStack
           </label>
         </div>
         <div class="form-check-inline">
           <label class="form-check-label">
             <input type="checkbox" formControlName="skills" class="form-check-input" value="JokerEngineer" name="skills" >JokerEngineer
           </label>
         </div>
         <div class="form-check-inline disabled">
           <label class="form-check-label">
             <input type="checkbox" formControlName="skills" class="form-check-input" value="SDLC" name="skills" >SDLC
           </label>
         </div>
       </div>
        <div class="form-group">
          <label for="photo">Photo:  </label>
          <input type="file" formControlName="photo" class="form-control-file border" name="photo" required>
        </div>
       <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-9">
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fullname</th>
            <th>Sex</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Continent</th>
            <th>Skills</th>
            <th>Photo</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
